<div class="container">
  <div class="row">
    <div class="col-lg-6 mb-2">
      <div class="card sticky-top">
        <div data-controller="geolocation">
          <button data-action="geolocation#search">search near me</button>
          <select data-geolocation-target="distance" name="distance" id="">
            <option value="0.1">10km</option>
            <option value="0.2">20km</option>
            <option value="0.5" selected="selected">50km</option>
            <option value="1">100km</option>
          </select>
          <div class="card-body">
            <div id='map' style='width: 400px; height: 300px;'></div>
              <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoidmFsbGZsYXR0IiwiYSI6ImNsZXIxeTk5eTA3Y3E0M3FqbjAzdHk4YXgifQ.-0loLcXV_emFhVSb7W0t1A';
                const map = new mapboxgl.Map({
                container: 'map', // container ID
                style: 'mapbox://styles/mapbox/streets-v12', // style URL
                center: [-74.5, 40], // starting position [lng, lat]
                zoom: 9, // starting zoom
                });
              </script>
            </div>
          </div>
        </div>




    <div class="col-lg-6 mb-4">
      <div class="row">
        <% @flats.each do |flat|%>
        <div class="col-12">
          <div class="card">
            <img class="card-img-top img-thumbnail" src="<%= flat.image_url %>?<%= flat.id %>" alt="">
            <div class="card-body">
                <p class="card-title"><%= flat.title %></p>
                <p class="card-text">
                <%= flat.description %>
                </p>

                <a href="/flats/<%= flat.id %>" class="btn btn-outline-success btn-sm">
                    Book now
                </a>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%# <div><%= if currentLocation.success == true  %>
