<div class="row" style="height: calc(100vh - 100px); overflow: hidden">
  <div class="col-lg-6 h-100" style="margin-top: 16px" >
    <div class="position-relative  w-100 h-100" data-controller="geolocation" style="margin: 10px; display: flex;align-content: space-around;flex-wrap: nowrap;flex-direction: row;justify-content: space-between;">
      <%# <div class="position-absolute top-0 w-100 d-flex justify-content-between p-4" style="z-index: 1"> %>
      <button class="position-absolute opacity-75 top-0 start-0 btn btn-secondary btn-lg m-4 rounded-4 " data-action="geolocation#search" style="z-index: 1">Search near me</button>
      <%# Add -> to class button Search near me to center button (top-50 start-50 translate-middle)%>
      <select class="position-absolute opacity-75 top-0 end-0 btn btn-secondary m-4" data-geolocation-target="distance" name="distance" id="" style="z-index: 1">
        <option value="0.1">10km</option>
        <option value="0.2">20km</option>
        <option value="0.5" selected="selected">50km</option>
        <option value="1">100km</option>
      </select>
      <%# </div> %>
      <div class="w-100 h-100" id='map'></div>
    </div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoidmFsbGZsYXR0IiwiYSI6ImNsZXIxeTk5eTA3Y3E0M3FqbjAzdHk4YXgifQ.-0loLcXV_emFhVSb7W0t1A';
      const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9, // starting zoom
      });
    </script>
  </div>
  <div class="col-lg-6 h-100" style="overflow: auto">
    <div class="row w-100 py-2" style="margin-top: 10px">
      <% @flats.each do |flat|%>
        <div class="col-6" style="margin-bottom: 16px">
          <div class="card rounded-4 my-2 h-100">
            <img class="img-thumbnail rounded-4" src="<%= flat.image_url %>?<%= flat.id %>" alt="">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <p class="card-title fw-bold"><%= flat.title %></p>
                <p class="card-text"><%= flat.description %></p>
              </div>
              <a href="/flats/<%= flat.id %>" class="btn btn-success btn-sm text-white fw-normal rounded-4 float-center fw-bold ">
                Book now
              </a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# <div><%= if currentLocation.success == true  %>
