<h1><%= @flat.title %></h1>
<h2><%= @flat.description %></h2>
<p><%= @flat.street %></p>
<p><%= @flat.city %></p>
<p><%= @flat.country %></p>
<h3><%= @flat.price %></h3>
<%= image_tag @flat.image_url %>
<%= link_to "Back", flats_path(@flat) %>

<%= simple_form_for @flat do |f| %>
  <%= f.input :date_attribute %>
  <%= f.submit %>
<% end %>
