<!DOCTYPE html>
<html>
  <head>
    <title>CosyStay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <div class="footer justify-content-center bg-white" style="height: 100px;">
      <br>
      <div class="footer-links d-flex justify-content-center mb-2">
        <a href="https://github.com/Vallflatt/CosyStay"><i class="fab fa-github text-secondary" ></i></a>
      </div>
      <div class="footer-copyright d-flex justify-content-center pb-4 ">
        CosyStay© 2023
      </div>
    </div>
  </body>
</html>
